{% extends 'base.html.twig' %}

{% block title %}Home - TaRecette
{% endblock %}
{% block monTitre %}Accueil
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		<h1 class="display-4">Bienvenue sur Ta Recette ! 🍽️</h1>
		<p class="lead">Découvrez et partagez vos meilleures recettes de cuisine.</p>
		<p class="lead">Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application.</p>
		<a class="btn btn-primary btn-lg" href="/recettes" role="button">Inscription</a>
	</div>
{% endblock %}
