{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}
{% block monTitre %}Formulaire de connexion
{% endblock %}

{% block body %}
	<div class="container">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% if error %}
			<div class="alert alert-dismissible  alert-primary">
				{{error.messageKey|trans(error.messageData, 'security')}}
			</div>
		{% endif %}

		<form action="{{path('connexion')}}" method="post">
			<div>
				<label for="username" class="form-label mt-4">Adresse email :</label>
				<input
				type="email" class="form-control" id="username" aria-describedby="emailHelp" name='_username' placeholder="exemple@tarecette.fr" value="{{last_username}}">
			{# <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #}
			</div>
			<div>
				<label for="password" class="form-label mt-4">Mot de passe :</label>
				<input type="password" class="form-control" id="password" name='_password' placeholder="*********" autocomplete="off">
			</div>
			<button type='submit' class="btn btn-primary mt-4">Se connecter</button>
		</form>
	</div>
{% endblock %}
