{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}Page d'accueil{% endblock %}

{% block body %}
<div class="row">
<div class="col-auto m-2">
<a href="{{path("personnages")}}">lien personnages</a>
<div class="col-auto">
</div>
</div>
</div>
{% endblock %}
